@media (max-width:300px){
  .fiip-back-btn2{
    width: fit-content;padding: 10px 30px 
  }
}
@media (max-width: 576px) {
  :root {
    --space: 10px;
    --spacecontent: 10px;
    --spacecontent2: 10px;
  }
 
.navbar{
  padding: 0px
}

  .wrapper-text {
    width: 100%;
  }
  .wrapper {
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 97%); */
    background-position: right;
    background-image: linear-gradient(rgb(21 21 22 / 0%), rgb(133 133 133)),
      url(./BrigitaBracko_hipnoterapija_hipnotransformacijska-metoda-1.webp);
  }
  .section-1 {
    padding: 140px 10px;
  }
  .button{
    text-align: center
  }
  .section-2-parent {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .section-3 {
    padding: 20px 10px;
  }
  .section-4{
      width: 100%
  }
  .section-5{
    flex-wrap: wrap-reverse
}
.sec-5-heading {
    padding-left: 50px;
}

  .sec-5-img {
    background-image: url(./sec.webp);
    background-size: cover;
    background-position: right;
    height: 550px;width: 100%
  }

  .section-7{
      justify-content: center
  }
  .sec-7-content{
      width: 100%
  }
  .section-8 {
    padding: 0px 10px;
  }
  .sec-8-content {
    width: 100%;padding-left: var(--space);padding-right: var(--space)
  }
  .accordion {
    width: 100%;
    padding: 20px 10px;
  }
  .sec-11-content {
    flex-direction: column;
  }
  .sec-11-content input {
    width: 100%;
  }
  .sec-11-content div {
    width: 100%;
    display: flex;
    align-items: baseline;
    gap: 10px;
  }
  .sec-11-content h5 {
    margin: 0px;
  }
  .all-logo {
    padding: 35px 10px;
    flex-wrap: wrap;
  }
  .allfootlinks {
    flex-wrap: wrap;
    gap: 20px;
  }
  .nav-last{
      display: none
  }
}
@media (min-width:576px) and (max-width:900px){
    .nav-last{
        display: none
    }
    .sec-5-img {
        background-image: url(./sec.webp);
        background-size: cover;
        background-position: right;
        height: 550px;width: 100%
      }
      #secondlogo{
        width: 220px!important
      }
      .navbar{
        height: 100px;align-items: center
      }
    }
     
    

    @media(min-width:1100px) and (max-width:1190px){
        .sec-7-content {
            width: 340px;
        }
    }

 

@media  (min-width:575px) and (max-width: 1100px) {
    :root {
      --space: 40px;
      --spacecontent: 50px;
      --spacecontent2: 50px;
    }
    

    .wrapper-text {
      width: 100%;
    }
    .wrapper {
      /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 97%); */
      background-position: right;
      background-image: linear-gradient(rgb(21 21 22 / 0%), rgb(133 133 133)),
        url(./BrigitaBracko_hipnoterapija_hipnotransformacijska-metoda-1.webp);
    }
    .section-1 {
      padding: 140px 10px;
    }
    .section-2-parent {
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .section-3 {
      padding: 20px 10px;
    }
    .section-5{
        flex-wrap: wrap-reverse;padding-left: var(--space);padding-right: var(--space);
    }
    .section-7{
        justify-content: center;margin: 0 auto;
    }
    .sec-7-content{
        width: 100%;padding-left: var(--space);padding-right: var(--space);
    }
    .sec-8-content{
        width: 100%;padding-left: var(--space);padding-right: var(--space);gap: 30px
    }
    .section-8 {
      padding: 0px 10px;gap: 20px
    }
    .accordion {
      width: 100%;
      padding: 20px 10px;
    }
    .sec-11-content {
      flex-direction: column;
    }
    .sec-11-content input {
      width: 100%;
    }
    .sec-11-content div {
      width: 100%;
      display: flex;
      align-items: baseline;
      gap: 10px;
    }
    .sec-11-content h5 {
      margin: 0px;
    }
    .all-logo {
      padding: 35px 10px;
      flex-wrap: wrap;
    }
    .allfootlinks {
      flex-wrap: wrap;
      gap: 20px;
    }
  }
  
  @media (min-width:900px) and (max-width:1110px){
      .sec-5-img{
        width:55%
      }
      .sec-5-content{
        width:40%;height: 583px
      }
      
  }

  @media (min-width:700px) and (max-width:991px){
    .nav-last{
        display: none
    }
  
    #secondlogo{
      width: 220px!important
    }
    .navbar{
      height: 100px;align-items: center
    }
    .navbar-collapse {
      position: fixed;
      top: 0;
      left: -400px; /* Adjust this value as needed */
      width: 400px; /* Adjust this value as needed */
      height: 100%;
      padding-top: 50px;
      background-color: darkgray; /* Adjust as needed */
      z-index:100000;
      overflow-y: auto; /*Enable vertical scrolling*/
      ;display: flex;flex-direction: column;align-items: center;justify-content: center;transition: all 0.2s ease
    }
    .navbar-collapse.show {
      left: 0
     
    }
   
  }

  @media (min-width:1100px) and (max-width:1140px){
      .navbar{
          padding:0px 80px
      }
  }
 
  @media (max-width: 700px) {
  .navbar-collapse {
    position: fixed;
    top: 0;
     left: -250px; /*Adjust this value as needed */
    width: 250px; /* Adjust this value as needed */
    height: 100vh;
    padding-top: 50px;
    background-color: darkgray; /* Adjust as needed */
    overflow-y:auto; /* Enable vertical scrolling */
    z-index:100000;display: flex;flex-direction: column;align-items: center;justify-content: center;transition: all 0.2s ease
    
  }
  .navbar-collapse.show {
    left: 0px;
  }
  
 
}


@media (max-width:992px){
  footer{
    position: relative!important;
  }
  .all-logo{
    margin-bottom: 0px
  }
}
  